[submodule "DRAGON-EYES"]
	path = DRAGON-EYES
    url=https://github.com/KRO-SL-Production/DRAGON-EYES.git
[submodule "FOX-EYES"]
	path = FOX-EYES
    url=https://github.com/KRO-SL-Production/FOX-EYES.git
[submodule "Fox-Fire"]
	path = Fox-Fire
    url=https://github.com/KRO-SL-Production/Fox-Fire.git
[submodule "Dragon-Maid-EYES"]
	path = Dragon-Maid-EYES
	url = https://github.com/KRO-SL-Production/Dragon-Maid-EYES.git
[submodule "Kinmokusei-s-lantern"]
	path = Kinmokusei-s-lantern
	url = https://github.com/KRO-SL-Production/Kinmokusei-s-lantern.git
[submodule "Hair-bun"]
	path = Hair-bun
	url = https://github.com/KRO-SL-Production/Hair-bun.git
[submodule "Postal-parcels"]
	path = Postal-parcels
	url = https://github.com/KRO-SL-Production/Postal-parcels.git
[submodule "Bamboo-Flute"]
	path = Bamboo-Flute
    url=https://github.com/KRO-SL-Production/Bamboo-Flute.git
[submodule "Update-Server"]
	path = Update-Server
	url = https://github.com/KRO-SL-Production/Update-Server.git
[submodule "marketplace-store"]
	path = marketplace-store
	url = https://github.com/KRO-SL-Production/marketplace-store.git
