[submodule "DRAGON-EYES"]
	path = DRAGON-EYES
	url = /Users/shinate/workspace/SLProduction/DRAGON-EYES
[submodule "FOX-EYES"]
	path = FOX-EYES
	url = /Users/shinate/workspace/SLProduction/FOX-EYES
[submodule "Fox-Fire"]
	path = Fox-Fire
	url = /Users/shinate/workspace/SLProduction/Fox-Fire
