[submodule "DRAGON-EYES"]
	path = DRAGON-EYES
	url = /Users/shinate/workspace/SLProduction/DRAGON-EYES
[submodule "FOX-EYES"]
	path = FOX-EYES
	url = /Users/shinate/workspace/SLProduction/FOX-EYES
[submodule "Fox-Fire"]
	path = Fox-Fire
	url = /Users/shinate/workspace/SLProduction/Fox-Fire
[submodule "Dragon-Maid-EYES"]
	path = Dragon-Maid-EYES
	url = git@github.com:KRO-SL-Production/Dragon-Maid-EYES.git
